<a href="https://colab.research.google.com/github/Rushikesh419/pandas-library-rivision/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/seasons.csv')
data

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,7.6,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,10.8,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,12.1,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.1,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,4.0,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22

In [4]:
# value count for multiplr column
for i in data.columns:
  x=data[i].value_counts()
  print(x)

0        1
8076     1
8198     1
8199     1
8200     1
        ..
4104     1
4105     1
4106     1
4107     1
12304    1
Name: Unnamed: 0, Length: 12305, dtype: int64
Vince Carter        22
Dirk Nowitzki       21
Kevin Garnett       20
Jamal Crawford      20
Kobe Bryant         20
                    ..
JaJuan Johnson       1
Carldell Johnson     1
Derrick Byars        1
Eric Dawson          1
Micah Potter         1
Name: player_name, Length: 2463, dtype: int64
CLE    433
TOR    428
MIA    426
LAC    424
DAL    422
WAS    422
ATL    421
PHI    420
HOU    418
SAS    413
DEN    412
ORL    411
LAL    411
NYK    410
IND    410
MIL    409
GSW    409
POR    407
BOS    407
CHI    406
DET    400
MIN    399
PHX    399
SAC    398
UTA    397
MEM    352
CHA    288
NJN    257
OKC    239
SEA    182
BKN    180
NOP    159
NOH    143
CHH     89
VAN     72
NOK     32
Name: team_abbreviation, dtype: int64
24.0    1277
23.0    1164
25.0    1141
26.0    1015
27.0     972
28.0     868
29.0     785
22.0     771
30.0     711
31.0     620
32.0     549
21.0     500
33.0     450
34.0     353
20.0     286
35.0     250
36.0     200
37.0     135
38.0      85
19.0      73
39.0      51
40.0      29
41.0       9
42.0       4
18.0       3
43.0       3
44.0       1
Name: age, dtype: int64
205.74    1464
208.28    1212
200.66    1204
203.20    1185
198.12    1048
210.82    1022
195.58     953
190.50     841
193.04     730
213.36     713
187.96     543
185.42     499
182.88     281
215.90     200
180.34     115
218.44      89
177.80      60
220.98      46
175.26      26
228.60      17
165.10      13
201.00      13
223.52       8
226.06       7
160.02       5
196.00       5
231.14       3
167.64       1
203.00       1
183.00       1
Name: player_height, dtype: int64
99.790240     658
108.862080    611
95.254320     575
97.522280     575
102.058200    553
             ...
138.799152      1
131.995272      1
61.688512       1
154.221280      1
155.582056      1
Name: player_weight, Length: 157, dtype: int64
None                              1789
Kentucky                           420
Duke                               384
North Carolina                     344
UCLA                               307
                                  ...
George Mason                         1
University of Colorado Boulder       1
Illinois State                       1
Augustana (SD)                       1
UNC                                  1
Name: college, Length: 347, dtype: int64
USA           10308
Canada          182
France          181
Australia        89
Spain            88
              ...
Sudan (UK)        1
Ghana             1
Denmark           1
Colombia          1
Portugal          1
Name: country, Length: 82, dtype: int64
Undrafted    2224
1998          454
2003          434
2005          426
2008          410
1996          406
2001          404
2009          384
2004          370
1999          366
2000          365
2011          358
2007          348
1997          345
1995          328
2006          328
2002          325
2012          314
2010          304
2013          297
2014          275
1994          273
2015          248
1992          232
2017          224
2016          222
1993          210
2018          202
2019          172
1990          162
1991          149
1988          127
1989          123
2020          108
1987           90
1985           86
2021           53
1986           52
1984           49
1983           22
1981           16
1982           11
1980            3
1979            3
1963            1
1978            1
1976            1
Name: draft_year, dtype: int64
1            7071
2            2910
Undrafted    2274
3              20
4              12
0               6
6               5
7               5
8               2
Name: draft_round, dtype: int64
Undrafted    2277
1             346
5             344
4             334
3             327
             ...
87              1
66              1
82              1
127             1
78              1
Name: draft_number, Length: 76, dtype: int64
82    724
81    414
80    395
79    279
78    270
     ...
25     74
34     67
83     10
85      3
84      1
Name: gp, Length: 85, dtype: int64
2.0     169
0.0     156
4.0     147
3.0     141
3.3     130
       ...
30.7      1
26.2      1
32.1      1
31.1      1
30.3      1
Name: pts, Length: 314, dtype: int64
2.0     319
1.8     293
1.9     291
2.3     277
1.0     270
       ...
13.9      1
13.4      1
15.4      1
16.3      1
14.7      1
Name: reb, Length: 153, dtype: int64
0.3     633
0.4     601
0.5     588
0.6     518
0.8     503
       ...
10.1      2
9.9       2
11.5      1
10.9      1
9.4       1
Name: ast, Length: 115, dtype: int64
-0.3     85
 0.8     84
-1.4     81
-1.9     80
-2.0     79
         ..
-42.8     1
-90.6     1
-44.1     1
 21.5     1
-56.4     1
Name: net_rating, Length: 757, dtype: int64
0.000    481
0.017    246
0.015    232
0.023    225
0.021    222
        ...
0.267      1
0.308      1
0.316      1
0.188      1
0.375      1
Name: oreb_pct, Length: 216, dtype: int64
0.000    185
0.100    122
0.111    113
0.098    113
0.099    113
        ...
0.017      1
0.714      1
0.325      1
0.450      1
0.429      1
Name: dreb_pct, Length: 352, dtype: int64
0.183    120
0.184    115
0.166    112
0.168    111
0.179    111
        ...
0.034      1
0.371      1
0.395      1
0.025      1
0.357      1
Name: usg_pct, Length: 345, dtype: int64
0.000    156
0.500    123
0.533    103
0.538    101
0.521    100
        ...
0.737      1
0.145      1
0.248      1
0.369      1
0.280      1
Name: ts_pct, Length: 551, dtype: int64
0.000    400
0.063    115
0.068    113
0.077    105
0.074    101
        ...
0.371      1
0.512      1
0.750      1
0.483      1
0.538      1
Name: ast_pct, Length: 481, dtype: int64
2021-22    605
2020-21    540
2017-18    540
2018-19    530
2019-20    529
2014-15    492
2016-17    486
2013-14    482
2011-12    478
2015-16    476
2012-13    469
2004-05    464
2006-07    458
2005-06    458
2010-11    452
2007-08    451
2008-09    445
2009-10    442
2003-04    442
2000-01    441
1996-97    441
2001-02    440
1997-98    439
1998-99    439
1999-00    438
2002-03    428
Name: season, dtype: int64

In [5]:
data[['team_abbreviation','college','draft_year']].value_counts()

team_abbreviation  college        draft_year
DAL                None           1998          23
WAS                None           2005          20
MIA                Florida        Undrafted     20
DAL                None           Undrafted     20
LAL                None           1996          20
                                                ..
                   McNeese State  Undrafted      1
                   Memphis        2006           1
                   Miami (OH)     Undrafted      1
                   Michigan       2018           1
WAS                Xavier         Undrafted      1
Length: 5847, dtype: int64

In [6]:
for column in data.columns:
  print(data[column].value_counts())

0        1
8076     1
8198     1
8199     1
8200     1
        ..
4104     1
4105     1
4106     1
4107     1
12304    1
Name: Unnamed: 0, Length: 12305, dtype: int64
Vince Carter        22
Dirk Nowitzki       21
Kevin Garnett       20
Jamal Crawford      20
Kobe Bryant         20
                    ..
JaJuan Johnson       1
Carldell Johnson     1
Derrick Byars        1
Eric Dawson          1
Micah Potter         1
Name: player_name, Length: 2463, dtype: int64
CLE    433
TOR    428
MIA    426
LAC    424
DAL    422
WAS    422
ATL    421
PHI    420
HOU    418
SAS    413
DEN    412
ORL    411
LAL    411
NYK    410
IND    410
MIL    409
GSW    409
POR    407
BOS    407
CHI    406
DET    400
MIN    399
PHX    399
SAC    398
UTA    397
MEM    352
CHA    288
NJN    257
OKC    239
SEA    182
BKN    180
NOP    159
NOH    143
CHH     89
VAN     72
NOK     32
Name: team_abbreviation, dtype: int64
24.0    1277
23.0    1164
25.0    1141
26.0    1015
27.0     972
28.0     868
29.0     785
22.0     771
30.0     711
31.0     620
32.0     549
21.0     500
33.0     450
34.0     353
20.0     286
35.0     250
36.0     200
37.0     135
38.0      85
19.0      73
39.0      51
40.0      29
41.0       9
42.0       4
18.0       3
43.0       3
44.0       1
Name: age, dtype: int64
205.74    1464
208.28    1212
200.66    1204
203.20    1185
198.12    1048
210.82    1022
195.58     953
190.50     841
193.04     730
213.36     713
187.96     543
185.42     499
182.88     281
215.90     200
180.34     115
218.44      89
177.80      60
220.98      46
175.26      26
228.60      17
165.10      13
201.00      13
223.52       8
226.06       7
160.02       5
196.00       5
231.14       3
167.64       1
203.00       1
183.00       1
Name: player_height, dtype: int64
99.790240     658
108.862080    611
95.254320     575
97.522280     575
102.058200    553
             ...
138.799152      1
131.995272      1
61.688512       1
154.221280      1
155.582056      1
Name: player_weight, Length: 157, dtype: int64
None                              1789
Kentucky                           420
Duke                               384
North Carolina                     344
UCLA                               307
                                  ...
George Mason                         1
University of Colorado Boulder       1
Illinois State                       1
Augustana (SD)                       1
UNC                                  1
Name: college, Length: 347, dtype: int64
USA           10308
Canada          182
France          181
Australia        89
Spain            88
              ...
Sudan (UK)        1
Ghana             1
Denmark           1
Colombia          1
Portugal          1
Name: country, Length: 82, dtype: int64
Undrafted    2224
1998          454
2003          434
2005          426
2008          410
1996          406
2001          404
2009          384
2004          370
1999          366
2000          365
2011          358
2007          348
1997          345
1995          328
2006          328
2002          325
2012          314
2010          304
2013          297
2014          275
1994          273
2015          248
1992          232
2017          224
2016          222
1993          210
2018          202
2019          172
1990          162
1991          149
1988          127
1989          123
2020          108
1987           90
1985           86
2021           53
1986           52
1984           49
1983           22
1981           16
1982           11
1980            3
1979            3
1963            1
1978            1
1976            1
Name: draft_year, dtype: int64
1            7071
2            2910
Undrafted    2274
3              20
4              12
0               6
6               5
7               5
8               2
Name: draft_round, dtype: int64
Undrafted    2277
1             346
5             344
4             334
3             327
             ...
87              1
66              1
82              1
127             1
78              1
Name: draft_number, Length: 76, dtype: int64
82    724
81    414
80    395
79    279
78    270
     ...
25     74
34     67
83     10
85      3
84      1
Name: gp, Length: 85, dtype: int64
2.0     169
0.0     156
4.0     147
3.0     141
3.3     130
       ...
30.7      1
26.2      1
32.1      1
31.1      1
30.3      1
Name: pts, Length: 314, dtype: int64
2.0     319
1.8     293
1.9     291
2.3     277
1.0     270
       ...
13.9      1
13.4      1
15.4      1
16.3      1
14.7      1
Name: reb, Length: 153, dtype: int64
0.3     633
0.4     601
0.5     588
0.6     518
0.8     503
       ...
10.1      2
9.9       2
11.5      1
10.9      1
9.4       1
Name: ast, Length: 115, dtype: int64
-0.3     85
 0.8     84
-1.4     81
-1.9     80
-2.0     79
         ..
-42.8     1
-90.6     1
-44.1     1
 21.5     1
-56.4     1
Name: net_rating, Length: 757, dtype: int64
0.000    481
0.017    246
0.015    232
0.023    225
0.021    222
        ...
0.267      1
0.308      1
0.316      1
0.188      1
0.375      1
Name: oreb_pct, Length: 216, dtype: int64
0.000    185
0.100    122
0.111    113
0.098    113
0.099    113
        ...
0.017      1
0.714      1
0.325      1
0.450      1
0.429      1
Name: dreb_pct, Length: 352, dtype: int64
0.183    120
0.184    115
0.166    112
0.168    111
0.179    111
        ...
0.034      1
0.371      1
0.395      1
0.025      1
0.357      1
Name: usg_pct, Length: 345, dtype: int64
0.000    156
0.500    123
0.533    103
0.538    101
0.521    100
        ...
0.737      1
0.145      1
0.248      1
0.369      1
0.280      1
Name: ts_pct, Length: 551, dtype: int64
0.000    400
0.063    115
0.068    113
0.077    105
0.074    101
        ...
0.371      1
0.512      1
0.750      1
0.483      1
0.538      1
Name: ast_pct, Length: 481, dtype: int64
2021-22    605
2020-21    540
2017-18    540
2018-19    530
2019-20    529
2014-15    492
2016-17    486
2013-14    482
2011-12    478
2015-16    476
2012-13    469
2004-05    464
2006-07    458
2005-06    458
2010-11    452
2007-08    451
2008-09    445
2009-10    442
2003-04    442
2000-01    441
1996-97    441
2001-02    440
1997-98    439
1998-99    439
1999-00    438
2002-03    428
Name: season, dtype: int64

In [7]:
data['draft_year'].nunique()

47

In [8]:
#rows selection
# iloc method
data.iloc[0:2]

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.79024,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.93392,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97

In [9]:
data.iloc[0:10:2]

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.79024,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.25432,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.86208,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
6,6,Eddie Jones,LAL,25.0,198.12,86.18248,Temple,USA,1994,1,...,17.2,4.1,3.4,4.1,0.035,0.091,0.209,0.559,0.149,1996-97
8,8,Eldridge Recasner,ATL,29.0,193.04,86.18248,Washington,USA,1992,Undrafted,...,5.7,1.6,1.3,-0.3,0.036,0.076,0.172,0.539,0.141,1996-97

In [10]:

data.iloc[[1,2,3],3]

1    28.0
2    39.0
3    24.0
Name: age, dtype: float64

In [11]:
data.loc[[1,2],'team_abbreviation']

1    LAC
2    TOR
Name: team_abbreviation, dtype: object

In [12]:
data.loc[0:4,'team_abbreviation']

0    CHI
1    LAC
2    TOR
3    DAL
4    MIA
Name: team_abbreviation, dtype: object

In [13]:
fi=(data['team_abbreviation']=='CHI')
data[fi]

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
40,40,Dickey Simpkins,CHI,25.0,205.74,112.490816,Providence,USA,1994,1,...,1.9,1.9,0.6,-0.9,0.099,0.151,0.163,0.411,0.112,1996-97
71,71,Jason Caffey,CHI,24.0,203.20,116.119552,Alabama,USA,1995,1,...,7.3,4.0,1.2,9.0,0.114,0.134,0.184,0.574,0.094,1996-97
117,117,Bill Wennington,CHI,34.0,213.36,111.130040,St. John's (NY),USA,1985,1,...,4.6,2.1,0.7,7.7,0.068,0.119,0.168,0.538,0.079,1996-97
120,120,Bison Dele,CHI,28.0,210.82,117.933920,Arizona,USA,1991,1,...,7.0,3.7,1.3,0.9,0.118,0.154,0.277,0.453,0.140,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12230,12230,Lonzo Ball,CHI,24.0,198.12,86.182480,UCLA,USA,2017,1,...,13.0,5.4,5.1,3.1,0.029,0.125,0.170,0.575,0.203,2021-22
12252,12252,Nikola Vucevic,CHI,31.0,208.28,117.933920,Southern California,Montenegro,2011,1,...,17.6,11.0,3.2,-1.6,0.060,0.274,0.244,0.533,0.153,2021-22
12272,12272,Malcolm Hill,CHI,26.0,198.12,99.790240,Illinois,USA,Undrafted,Undrafted,...,3.8,1.8,0.4,-7.3,0.051,0.118,0.118,0.619,0.050,2021-22
12290,12290,Matt Thomas,CHI,27.0,190.50,86.182480,Iowa State,USA,Undrafted,Undrafted,...,4.0,1.3,0.5,1.1,0.007,0.096,0.137,0.564,0.059,2021-22
12299,12299,Marko Simonovic,CHI,22.0,210.82,99.790240,None,Montenegro,2020,2,...,1.9,1.1,0.0,1.2,0.122,0.119,0.247,0.428,0.000,2021-22

In [14]:
# or 
data[data['team_abbreviation']=='CHI']

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
40,40,Dickey Simpkins,CHI,25.0,205.74,112.490816,Providence,USA,1994,1,...,1.9,1.9,0.6,-0.9,0.099,0.151,0.163,0.411,0.112,1996-97
71,71,Jason Caffey,CHI,24.0,203.20,116.119552,Alabama,USA,1995,1,...,7.3,4.0,1.2,9.0,0.114,0.134,0.184,0.574,0.094,1996-97
117,117,Bill Wennington,CHI,34.0,213.36,111.130040,St. John's (NY),USA,1985,1,...,4.6,2.1,0.7,7.7,0.068,0.119,0.168,0.538,0.079,1996-97
120,120,Bison Dele,CHI,28.0,210.82,117.933920,Arizona,USA,1991,1,...,7.0,3.7,1.3,0.9,0.118,0.154,0.277,0.453,0.140,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12230,12230,Lonzo Ball,CHI,24.0,198.12,86.182480,UCLA,USA,2017,1,...,13.0,5.4,5.1,3.1,0.029,0.125,0.170,0.575,0.203,2021-22
12252,12252,Nikola Vucevic,CHI,31.0,208.28,117.933920,Southern California,Montenegro,2011,1,...,17.6,11.0,3.2,-1.6,0.060,0.274,0.244,0.533,0.153,2021-22
12272,12272,Malcolm Hill,CHI,26.0,198.12,99.790240,Illinois,USA,Undrafted,Undrafted,...,3.8,1.8,0.4,-7.3,0.051,0.118,0.118,0.619,0.050,2021-22
12290,12290,Matt Thomas,CHI,27.0,190.50,86.182480,Iowa State,USA,Undrafted,Undrafted,...,4.0,1.3,0.5,1.1,0.007,0.096,0.137,0.564,0.059,2021-22
12299,12299,Marko Simonovic,CHI,22.0,210.82,99.790240,None,Montenegro,2020,2,...,1.9,1.1,0.0,1.2,0.122,0.119,0.247,0.428,0.000,2021-22

In [15]:
data.loc[fi,'team_abbreviation']

0        CHI
40       CHI
71       CHI
117      CHI
120      CHI
        ...
12230    CHI
12252    CHI
12272    CHI
12290    CHI
12299    CHI
Name: team_abbreviation, Length: 406, dtype: object

In [16]:
data.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [17]:
data.apply(len,axis=0)

Unnamed: 0           12305
player_name          12305
team_abbreviation    12305
age                  12305
player_height        12305
player_weight        12305
college              12305
country              12305
draft_year           12305
draft_round          12305
draft_number         12305
gp                   12305
pts                  12305
reb                  12305
ast                  12305
net_rating           12305
oreb_pct             12305
dreb_pct             12305
usg_pct              12305
ts_pct               12305
ast_pct              12305
season               12305
dtype: int64

In [18]:
data['BMI']=data['player_weight']/data['player_height']
data

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,BMI
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97,0.503686
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97,0.546243
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97,0.462984
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97,0.495558
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97,0.529125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22,0.540148
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22,0.491094
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22,0.516941
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22,0.475439
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22,0.540094

In [19]:
data.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season',
       'BMI'],
      dtype='object')

In [20]:
data.sort_values(by=['player_height','player_weight'])

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,BMI
2090,2090,Muggsy Bogues,TOR,36.0,160.02,61.688512,Wake Forest,USA,1987,1,...,1.0,1.7,-27.4,0.000,0.120,0.078,0.000,0.294,2000-01,0.385505
401,401,Muggsy Bogues,CHH,32.0,160.02,63.956472,Wake Forest,USA,1987,1,...,2.2,7.2,6.0,0.017,0.074,0.149,0.554,0.366,1996-97,0.399678
484,484,Muggsy Bogues,GSW,33.0,160.02,63.956472,Wake Forest,USA,1987,1,...,2.2,5.4,-8.4,0.020,0.074,0.129,0.492,0.344,1997-98,0.399678
1125,1125,Muggsy Bogues,GSW,34.0,160.02,63.956472,Wake Forest,USA,1987,1,...,2.0,3.7,-2.1,0.025,0.091,0.138,0.539,0.338,1998-99,0.399678
1727,1727,Muggsy Bogues,TOR,35.0,160.02,63.956472,Wake Forest,USA,1987,1,...,1.7,3.7,0.4,0.016,0.076,0.117,0.517,0.266,1999-00,0.399678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6374,6374,Yao Ming,HOU,30.0,228.60,140.613520,None,China,2002,1,...,5.4,0.8,-14.3,0.081,0.220,0.242,0.579,0.077,2010-11,0.615107
12101,12101,Tacko Fall,CLE,26.0,228.60,141.067112,UCF,Senegal,Undrafted,Undrafted,...,2.1,0.2,-0.8,0.115,0.271,0.124,0.398,0.048,2021-22,0.617091
92,92,Gheorghe Muresan,WAS,26.0,231.14,137.438376,None,USA,1993,2,...,6.6,0.4,6.9,0.098,0.217,0.185,0.618,0.024,1996-97,0.594611
1214,1214,Gheorghe Muresan,NJN,28.0,231.14,137.438376,None,USA,1993,2,...,0.0,0.0,-200.0,0.000,0.000,1.000,0.000,0.000,1998-99,0.594611
1407,1407,Gheorghe Muresan,NJN,29.0,231.14,137.438376,None,USA,1993,2,...,2.3,0.3,4.8,0.103,0.163,0.202,0.492,0.056,1999-00,0.594611

In [21]:
data['player_weight'].nlargest()

8288    163.293120
331     155.582056
3268    154.221280
2876    151.953320
1627    149.685360
Name: player_weight, dtype: float64

In [22]:
data.at[8288,'player_name']

'Sim Bhullar'

In [23]:
df=pd.read_csv('/content/drive/MyDrive/employs')
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [24]:
df['Salary'].median()

90428.0

In [25]:
df['Salary'].mode()

0     86676
1     91462
2    121160
3    145988
4    147183
Name: Salary, dtype: int64

In [26]:
df['Team'].value_counts()

Client Services         106
Finance                 102
Business Development    101
Marketing                98
Product                  95
Sales                    94
Engineering              92
Human Resources          91
Distribution             90
Legal                    88
Name: Team, dtype: int64

In [27]:
df1=data.groupby(['college'])

In [28]:
a=df1.get_group('Wake Forest')
a

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,BMI
250,250,Randolph Childress,DET,24.0,187.96,85.275296,Wake Forest,USA,1995,1,...,0.3,0.7,-0.9,0.008,0.037,0.176,0.448,0.205,1996-97,0.453689
273,273,Rodney Rogers,LAC,26.0,200.66,115.665960,Wake Forest,USA,1993,1,...,5.1,2.7,-3.5,0.063,0.132,0.223,0.530,0.152,1996-97,0.576428
401,401,Muggsy Bogues,CHH,32.0,160.02,63.956472,Wake Forest,USA,1987,1,...,2.2,7.2,6.0,0.017,0.074,0.149,0.554,0.366,1996-97,0.399678
484,484,Muggsy Bogues,GSW,33.0,160.02,63.956472,Wake Forest,USA,1987,1,...,2.2,5.4,-8.4,0.020,0.074,0.129,0.492,0.344,1997-98,0.399678
567,567,Tim Duncan,SAS,22.0,213.36,112.490816,Wake Forest,US Virgin Islands,1997,1,...,11.9,2.7,8.0,0.108,0.238,0.262,0.577,0.131,1997-98,0.527235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11778,11778,Jaylen Hoard,OKC,23.0,203.20,97.975872,Wake Forest,France,Undrafted,Undrafted,...,12.0,2.4,-17.2,0.112,0.228,0.184,0.536,0.113,2021-22,0.482165
11795,11795,John Collins,ATL,24.0,205.74,102.511792,Wake Forest,USA,2017,1,...,7.8,1.8,0.8,0.056,0.190,0.202,0.610,0.088,2021-22,0.498259
11820,11820,Ish Smith,WAS,33.0,182.88,79.378600,Wake Forest,USA,Undrafted,Undrafted,...,2.2,3.8,-6.7,0.021,0.100,0.195,0.465,0.318,2021-22,0.434047
11832,11832,James Johnson,BKN,35.0,200.66,108.862080,Wake Forest,USA,2009,1,...,3.5,2.1,-1.6,0.041,0.127,0.136,0.513,0.153,2021-22,0.542520
11967,11967,Chris Paul,PHX,37.0,182.88,79.378600,Wake Forest,USA,2005,1,...,4.4,10.8,10.0,0.011,0.113,0.197,0.581,0.434,2021-22,0.434047

In [29]:
a['draft_round'].value_counts()

1            102
Undrafted     20
2              9
Name: draft_round, dtype: int64

In [30]:
a['country'].value_counts()

USA                  101
US Virgin Islands     19
Lithuania              8
France                 3
Name: country, dtype: int64

In [31]:
a['country'].value_counts().loc['France']

3